[user]
	name = Michael Meffie
	email = mmeffie@sinenomine.net
[core]
	editor = vim
[log]
    decorate = auto
[alias]
	#
	# short-cuts
	#
	l = log -n16 --oneline
	ls = log --oneline
	co = checkout
	cp = cherry-pick
	ci = commit
	a = add
	s = status
	b = branch
	d = diff
	amend = commit --amend
	mend = commit --amend --no-edit
	nuke = clean -f -d -x -q
	staged = diff --cached
	git = !exec git

	#---------------------------------------------------------
    # git-gerrit aliases
    #
    # usage: git gerrit-checkout <number>
    #        git gerrit-todo [<branch>] [<userid>]
    #        git gerrit-topics
    #
    gerrit-checkout = gerrit-fetch --no-branch --checkout
    gerrit-todo = "!f() { git-gerrit-query \"branch:${1-master} is:open "\
                  "NOT label:Code-Review=-2 NOT label:Code-Review>=+1,${2-$USER}\"; }; f"
    gerrit-topics = "git gerrit-query --format='{topic}' status:open branch:master | sort -u"
    gerrit-unverified = gerrit-query status:open NOT label:Verified
[color]
	ui = true
[giggle]
	main-window-maximized = true
	main-window-geometry = 0x0+0+0
	main-window-view = HistoryView
	file-view-hpane-position = 304
	history-view-vpane-position = 371
	file-view-vpane-position = 397
[merge]
	conflictstyle = diff3
[init]
	templatedir = ~/.git_template
